{% extends "index.html" %}

{% block content %}
    <div class="jumbotron text-center" style="padding-top: 5%">
        <h1><span class="element"></span></h1><span class="typed-cursor"></span>
        <i><h4>- Because you have the right to save all you need..</h4></i>
        <br>
        <br>
        <h3>Currently, {{ session['user_count'] }} users registered</h3>
    </div>

    <div class="container" id="about">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center slideanim">
                <h2 class="section-heading">ABOUT</h2>
                <hr style="max-width:50px;border-top: 2px solid #2E3134;"><br>
            </div><!-- ./column -->
        </div><!-- ./row -->
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Easy to use</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        Its so easy to use that even kids will be able to use it!
                    </p>
                </h4>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Stay Organized</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        With easy searching and everything organized, you are more productive
                    </p>
                </h4>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Markdown Support</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        With Markdownn support, its easy to write articles/ notes with rich text formatting my last change
                    </p>
                </h4>
            </div>
        </div> <!-- ./row -->
    </div> <!-- ./cotainer -->
{% endblock %}
