{% extends "index.html" %}

{% block content %}
    <div class="container" style="padding-top: 2%">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="thumbnail" style="padding: 3%">
                {% for note in notes %}
                    <legend><h3 class="text-center"><b>Note Details:</b></h3></legend>
                    <h4><b>Note Added on:</b> <br><br> {{ note[1]  }}</h4>
                    <br>
                    <h4><b>Note Updated on:</b> <br><br> {{ note[2]  }}</h4>
                    <br>
                    <h4><b>Note Title:</b> <br><br> {{ note[3] }}</h4>
                {% endfor %}
            </div>
        </div> <!-- ./column -->

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="thumbnail"  style="padding: 3%">
                {% for note in notes %}
                    <a href="/notes/edit/{{ note[0] }}/" class="pull-left">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                    </a>

                    <a href="/notes/delete/{{ note[0] }}/" class="pull-right">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    </a>
                    <br>
                    <br>
                    <h2>{{ note[4] | safe }}</h2>
                {% endfor %}
            </div>
        </div>
    </div> <!-- ./container -->
{% endblock %}
